# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/Excel.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
build/
dist/
"\347\273\223\346\236\234\346\257\224\350\276\203.py"
